/* https://www.familysearch.org/en/brand */
:root {
  --fs-body-color: #333; /* #786e63; */
}

body {
	margin: auto !important;
	height: auto !important;
	background-color: #fff !important;
}

/* 
 * this will increase only the font-size of the body, to increase all other sizes
 * *decrease* @font-size-browser (skins/Vector/resources/common/variables.less) to 
 * obtain a default font size of 16px (instead of 14, depending on the browser settings)
 * and then override here all the rules where  @font-size-base and @font-size-browser are used
 */
.vector-body {
	/* font-size: 1em !important; */
}

#wrapper.inj-wrapper {
	min-height: auto !important;
}

.mw-page-container {
	max-width: none !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#global-footer {
	margin-left: 0 !important;
}

.plainlinks {
	margin-top: 80px;
}

/* Not sure where this came from, not needed
.catlinks li {
	background-color: #e1ebc5 !important;
	padding: 5px 8px !important;
}
*/

.mw-footer-container {
	display: none !important;
}

#left-navigation,
#right-navigation {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.mw-content-container {
	max-width: none !important;
}

code {
    color: #000;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

label {
    font-size: 0.875em !important;
    font-weight: normal;
    color: #252525;
}

div#mw-panel div.portal div. ul li a {
    color: #0060d7;
}

div#mw-panel div.portal h3 {
    /* font-family: Helvetica, Verdana, san-serif; */
    font-size: 0.875em;
}

#wrapper .inj-wrapper {
    min-height: inherit;
    width: 100%;
}

.online_records_button {
    background-color: #3073dd;
    border-radius: 10px;
    color: white;
    width: 210px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
    display: block;
}

.online_records_button:hover, .online_records_button:visited {
    text-decoration: none !important;
    background-color: #6597e6;
}

.online_records_button>a, .online_records_button>a.visited, .online_records_button>a.external:visited, .online_records_button>a:hover {
    color: white !important;
    text-decoration: none !important;
}

caption {
    caption-side: top !important;
}

/**** community button *******************************************************/
/* eg. https://beta.familysearch.org/en/wiki/United_States_Genealogy */
.community_button {
    background-color: #8a5c8a;
    border-radius: 10px;
    color: white;
    width: 210px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
    display: block;
}

#fsButtons {
   margin: 10px;
}

#fsButtons a:hover, #fsButtons a:visited {
    text-decoration: none !important;
}

.community_button:hover, community_button:visited {
    background-color: #ad85ad;
}

.community_button>a, .community_button>a.visited, .community_button>a.external:visited, .community_button>a:hover {
    color: white !important;
    text-decoration: none !important;
}

/*green online button*/
.green_online_button {
    background-color: #BFD730;
    border-radius: 10px;
    color: white;
    width: 210px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
    display: block;
}

.green_online_button:hover, .green_online_button:visited {
    text-decoration: none !important;
    background-color: #cade54;
}

.green_online_button>a, .green_online_button>a.visited, .green_online_button>a.external:visited, .green_online_button>a:hover {
    color: white !important;
    text-decoration: none !important;
}

/*red online button*/
.red_online_button {
    background-color: #d42111;
    border-radius: 10px;
    color: white;
    width: 210px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
    display: block;
}

.red_online_button:hover, .red_online_button:visited {
    text-decoration: none !important;
    background-color: #f59289;
}

.red_online_button>a, .red_online_button>a.visited, .red_online_button>a.external:visited, .red_online_button>a:hover {
    color: white !important;
    text-decoration: none !important;
}
/*brown online button*/
.brown_online_button {
    background-color: #9c947a;
    border-radius: 10px;
    color: white;
    width: 210px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
    display: block;
}

.brown_online_button:hover, .brown_online_button:visited {
    text-decoration: none !important;
    background-color: #b3ad98;
}

.brown_online_button>a, .brown_online_button>a.visited, .brown_online_button>a.external:visited, .brown_online_button>a:hover {
    color: white !important;
    text-decoration: none !important;
}

/*orange online button*/
.orange_online_button {
    background-color: #fcb34b;
    border-radius: 10px;
    color: white;
    width: 210px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
    display: block;
}

.orange_online_button:hover, .orange_online_button:visited {
    text-decoration: none !important;
    background-color: #fdbf68;
}

.orange_online_button>a, .orange_online_button>a.visited, .orange_online_button>a.external:visited, .orange_online_button>a:hover {
    color: white !important;
    text-decoration: none !important;
}

/*gray online button*/
.gray_online_button {
    background-color: #bab7b1;
    border-radius: 10px;
    color: white;
    width: 210px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
    display: block;
}

.gray_online_button:hover, .gray_online_button:visited {
    text-decoration: none !important;
    background-color:  #cfcdc9;
}

.gray_online_button>a, .gray_online_button>a.visited, .gray_online_button>a.external:visited, .gray_online_button>a:hover {
    color: white !important;
    text-decoration: none !important;
}

/** e.g. https://beta.familysearch.org/wiki/en/United_States_Genealogy
   e.g. https://beta.familysearch.org/wiki/en/User:Ahancey/Sandbox-columns */

@media screen and (min-width: 1400px) {
    .column-resize {
        column-count: 5;
        padding-left: 9% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .column-resize {
        column-count: 4;
        padding-left: 11% !important;
    }
}

@media screen and (min-width: 900px) and (max-width:1199px) {
    .column-resize {
        column-count: 3;
        padding-left: 14% !important;
    }
}

@media screen and (min-width: 600px) and (max-width:899px) {
    .column-resize {
        column-count: 2;
        padding-left: 20% !important;
    }
}

@media screen and (max-width:599px) {
    .column-resize {
        column-count: 1;
        padding-left: 33% !important;
    }
}

/** Define spacing and # of columns based on screen size 
 * e.g. https://beta.familysearch.org/wiki/en/England_Genealogy
 */

@media screen and (min-width: 1400px) {
    .column-spacing-fullscreen {
        column-count: 6;
        padding-right: 9% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .column-spacing-fullscreen {
        column-count: 5;
    }
}

@media screen and (min-width: 900px) and (max-width:1199px) {
    .column-spacing-fullscreen {
        column-count: 4;
    }
}

@media screen and (min-width: 600px) and (max-width:899px) {
    .column-spacing-fullscreen {
        column-count: 3;
    }
}

@media screen and (max-width:745px) {
    .column-spacing-fullscreen {
        column-count: 2;
    }
}

@media screen and (max-width:500px) {
    .column-spacing-fullscreen {
        column-count: 1;
    }
}

/** Define spacing and # of columns based on screen size - however, 
 * this section assumes that only half the screen is available for 
 * the columns.  Even though the screen size may be 1400px, the 
 * available space for the columns is half that, or 700px. 
 * e.g. https://beta.familysearch.org/wiki/en/Asia
 * e.g. https://beta.familysearch.org/wiki/en/North_America
 */

@media screen and (min-width: 1400px) {
    .column-spacing-halfscreen {
        column-count: 3;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .column-spacing-halfscreen {
        column-count: 2;
    }
}

@media screen and (min-width: 900px) and (max-width:1199px) {
    .column-spacing-halfscreen {
        column-count: 1;
    }
}

.column-spacing-halfscreen li, .column-spacing-fullscreen li {
    padding-right: 5px;
}


a.new:visited, #p-personal a.new:visited {
    color: #fcb34b !important;
}


/**** Print styles ***********************************************************/

@media print {
	form, input {
		display: none !important;
	}
}

/**** Typography *************************************************************/

@font-face {
	font-family: "Museo";
	src: url('../fonts/Museo_Slab_500.otf') format("opentype");
}

@font-face {
	font-family: "NotoSans-Regular";
	src: url('../fonts/NotoSans-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "NotoSans-Light";
	src: url('../fonts/NotoSans-Light.ttf') format("truetype");
}

@font-face {
	font-family: "NotoSans-Bold";
	src: url('../fonts/NotoSans-Bold.ttf') format("truetype");
}

@font-face {
	font-family: "Proxima Nova Light";
	src: url('/wiki/public_html/Proxima-Nova-Alt-Light.otf') format("opentype");
}

@font-face {
	font-family: "Proxima Nova Condensed Light";
	src: url('/wiki/public_html/Proxima-Nova-Condensed-Light.otf') format("opentype");
}

html, body {
	/* font-family: Helvetica, Verdana, sans-serif; */
	font-family: NotoSans-Regular, Verdana, Ayuthaya, HanaMinBFont, sans-serif !important;
}

.mw-body p, .mw-body-content p, p {
	/*font-family: 'Proxima Nova Light', Verdana, sans-serif;  */
	font-family: NotoSans-Regular, Verdana, Ayuthaya, HanaMinBFont, sans-serif !important;
	color: var(--fs-body-color );
}

/** important to override Vector */

h1, h2 {
	font-family: Museo, Helvetica, Verdana, serif !important;
}

h3, h4, h5, h6 {
	font-family: NotoSans-Bold, Helvetica, Verdana, serif !important;
}

pre, code, tt, kbd, samp, .mw-code {
	font-family: monospace, Courier;
}

@media print {
	p {
		margin: .5em;
		page-break-inside: avoid;
	}
}

/**** 1. Type selectors (e.g., h1) and pseudo-elements (e.g., ::before). *****/

/** include padding and borders in determining box size 
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	line-height: 1.6rem;
	color: var(--fs-body-color );
}

/** The page title (h1) and any h2 */

#firstHeading, #content h2 {
	line-height: 1.3;
	border-bottom: 1px solid #aaa;
}

h3, h4, h5, h6 {
	border-bottom: none;
	color: #000;
}

/** we have to use the class selector so that Vector doesn't override us */

.mw-body-content h1 {
	font-size: 1.6rem !important;
	color: #000;
	margin-top: 0.125em; /* whitespace to sitenotice */
}

.mw-body-content h2 {
	font-size: 1.5rem;
	line-height: 1.3;
	color: #000;
}

.mw-body-content h3 {
	font-size: 1.4rem;
	font-weight: bold;
}

.mw-body-content h4 {
	font-size: 1.3rem;
	font-weight: bold;
}

.mw-body-content h5 {
	font-size: 1.2rem;
	font-weight: normal;
}

.mw-body-content h6 {
	font-size: 1.1em;
	font-weight: normal;
	font-style: italic;
}

#mw-head .vectorMenu h3 {
	background-image: unset !important;
}

a {
	-moz-transition: color .1s ease-in-out, background-color .1s ease-in-out;
	-ms-transition: color .1s ease-in-out, background-color .1s ease-in-out;
	-o-transition: color .1s ease-in-out, background-color .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out, background-color .1s ease-in-out;
	transition: color .1s ease-in-out, background-color .1s ease-in-out;
}

#mw-head-base {
	height: 3.03em !important;
}

.fs-button--small {
	appearance: none;
	-webkit-touch-callout: none;
	background-color: #f5f4f1;
	border-radius: 4px;
	border: 1px solid #beb8a7;
	color: var(--fs-body-color );
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	padding: 0.607rem 1.429rem;
	/* [1] */
	position: relative;
	text-decoration: none;
	transition: padding 0.2s;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	text-align: center;
	margin: 6px 20px;
}

/*
.fs-button--small.is-loading:after, #global-footer .fs-button--small.is-loading:after, #langPickerModal .fs-button--small.is-loading:after, #helpFeedbackModal .fs-button--small.is-loading:after {
	width: 16px;
	height: 16px;
	margin-top: 0;
}
*/

.fs-button--small:hover {
	text-decoration: none;
	background-color: #fbfaf9;
	color: var(--fs-body-color );
}

.fs-button:active {
	background-color: #e8e6e0;
}

.fs-button--recommended {
	background-color: #3073dd;
	border: 1px solid #246bdb;
}

.mw-footer-container {
	padding-bottom: 24px !important;
}

.mw-logo {
	display: none !important;
}

.goog-te-gadget {
	margin-left: 0 !important;
}

#pt-logout {
	display: none !important;
}

#global-footer ul,
#header ul  {
 list-style: none !important;
}

/* https://beta.familysearch.org/en/wiki/Guided_Research_for_Online_Records */
/* https://beta.familysearch.org/en/wiki/Main_Page-GR */
#GRContainer {
	background-image: url(/wiki/en/img_auth.php/9/95/World_map_purplish.png); 
	/* Make the container (and background image) 100% of the viewport */
	width: 100vw;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
}
#GRContainerTest2 {
	background-image: url(/wiki/en/img_auth.php/9/95/World_map_purplish.png);
}
/* the menu table on the Main_Page-GR */
#GRMenu {
	border:1px solid black; 
	width:max-content;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffffd1; /* white with alpha transparency */
}
/* The callout for Main_Page-GR */
.callout2 {
    position: absolute;
    top: 1%;
    right: 80%;
    width: 160px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #888888;
    color: #004d99;
    background-color: white;
    padding: 5px;
    border: 1px solid gray
}
/* The div containing the logo on Main Page-GR */
.GRLogo {
	position: absolute;
    left: 80%;
    top: 1%;
}


/* temporary, remove when upgrading to a recent MW version */
#firstHeading {
	border-bottom: none;
	line-height: 1.375;
}

.vector-page-titlebar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.vector-page-titlebar > .cdx-button, .vector-page-titlebar > .mw-portlet-lang, mw-body-header {
    flex-shrink: 0;
}

.vector-page-titlebar .firstHeading {
    flex-grow: 1;
    padding: 0;
    border: 0;
}

.vector-page-titlebar::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--border-color-base, #a2a9b1);
}

#google_translate_element a:hover {
	text-decoration: none;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

#footer-places {
	display: inline-block;
}

